@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Noto+Sans+JP&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Fugaz+One&display=swap');
body{
  width: 99%;
  height: 100%;
  #HappyNewYear{
    width: 100%;
    height: 200px;
  }
  
}
.under{
  padding-bottom: 10px;
  width: 100%;
  img{
    width: 20%;
  }
  display: flex;
  flex-direction: row;
}

.game{
  background: rgb(241, 223, 223);
  display: block;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 50%;
  margin: auto;
}
.game-title{
  width: 100%;
  height: 20%;
  #upper{
    background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/main/dist/images/cownewyear.jpg');
    background-size: 100%;
  }
}
.hearder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
  padding-left: 30px;
  #image{
    width: 50px;
    height: 50px;

  }
  #Title{
    width: 400px;
    height: 50px;
  }
  p{
    color: rgba(255, 255, 0, 0.842);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
  }
}

.controllers{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  button{
    background-color: #f44336; 
    border-radius: 20px; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 0, 0.842);
    border-color: silver;
    outline:none;
  }
  select{
    background-color: #f44336; 
    border-radius: 20px; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 0, 0.842);
    border-color: silver;
    outline:none;
    #puzzle-option{
      background-color: rgba(246, 250, 42, 0.199);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #puzzle-option:focus{
      background-color: red !important;
    }
  }
  a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 0, 0.842);
  }
}

#game-board{
  width: 100%;
  height: 80%;
  margin: auto;
  background-image: url('/dist/images/cownewyear.jpg');
  background-size: 100%;
  #players{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70%;
    margin: auto;
    padding-top: 20px;
    
    img{
      width: 40px;
      height: 50px;
    }
  }
}

#board-container{
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  canvas{
    display: block;
    border: 1px solid gainsboro;
    height: 300px;
    width: 300px;
  }
  #player1Board{
    background-image: url('/dist/images/wasd_key.png') , url('/dist/images/mouse_click.png') ;
    background-size: 42%;
  }
  #player2Board{
    background-image: url('/dist/images/arrow_key2.png'), url('/dist/images/mouse_click.png') ;
    background-size: 42%;
  }
}

#winner_message_1{
  display: none;
  
  p{
    color:#cef436;
    font-size: 24px;
    font-family: 'Fugaz One', cursive;
    margin: 0px;
    padding-top: 10px;
  }
}

#winner_message_2{
  display: none;
  p{
    color:#cef436;
    font-size: 24px;
    font-family: 'Fugaz One', cursive;
    margin: 0px;
    padding-top: 10px;
  }
}

#winner_message_1.show, #winner_message_2.show{
  display: block;
}

.intro{
  display: block;
  border: 1px solid gainsboro;
  width: 50%;
  height: 45%;
  background-image: url('/dist/images/modal_background.jpg');
  background-size: 100%;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

    #close-modal{
      position: absolute;
      z-index: 15;
      font-family: none;
      font-size: 30px;
      bottom:300px;
      left: 420px;
    }
    *{
      margin: 15px;
      font-family: 'Aladin', cursive;
      color: rgb(19, 2, 2);
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 18px;
    }
    ol{
      margin: 0px;
      padding-left: 20px;
    }
  }
}

.modal-head-container{
  width: 100%;
  margin: auto;
  .modal-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .modal-head-left{
      width: 30px;
    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    img:hover{
      background-color: rgb(245, 80, 80);
      cursor: pointer;
    }
  }
}

.intro.off{
  display: none;
}

#background_music{
  display: none;
}

#pause{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 250px;
}