@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Noto+Sans+JP&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Fugaz+One&display=swap');
body{
  width: 100%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/gh_pages/dist/images/new_background.jpg');
  background-size: 1550px;
  /*
  .head-image{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/gh_pages/dist/images/HappyNewYear.png');
    background-size: 790px;
  }*/
  #HappyNewYear{
    width: 100%;
    height: 100%;
  }
}
.under{
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  img{
    width: 15%;
    height: 80vh;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 62px;
}

.under>div{
  height: 80vh;
}

.game{
  background: rgb(241, 223, 223);
  display: block;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin: auto;
  min-width: 1150px;
}
.game-title{
  width: 100%;
  height: 100%;
  #upper{
    background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/gh_pages/dist/images/header2.jpg');
    background-size: 100%;
  }
}
.hearder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  margin: auto;
  padding-left: 30px;
  #image{
    width: 50px;
    height: 50px;

  }
  #Title{
    width: 400px;
    height: 50px;
    margin-top: 10px;
  }
  p{
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.controllers{
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  height: 40px;
  button{
    background-color: #f44336; 
    border-radius: 20px; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: ivory;
    border-color: silver;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
  }
  button:hover, select:hover{
    cursor: pointer;
    background-color: #f71000; 
    color: black;
  }
  select{
    background-color: #f44336; 
    border-radius: 20px; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: ivory;
    border-color: silver;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    #puzzle-option{
      background-color: rgba(246, 250, 42, 0.199);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #puzzle-option:focus{
      background-color: red !important;
    }
    #puzzle-option:hover{
      cursor: pointer;
      color: rgba(218, 218, 6, 0.842);
    }
  }
  a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: ivory;
    display: block;
    border: 1px solid silver;
    border-radius: 20px; 
    border-color: silver;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    background-color: #f44336;
    font-weight: 500;
  }
  a:hover{
    padding-top: 0px;
    transition-property: font-size;
    transition-duration: 0.5s;
    color: lightgoldenrodyellow;
    font-size: 24px;
  }
}

#game-board{
  width: 100%;
  height: 70%;
  margin: auto;
  background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/gh_pages/dist/images/cownewyear.jpg');
  background-size: cover;
  padding-bottom: 50px;
  #players{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70%;
    margin: auto;
    padding-top: 20px;
    
    img{
      width: 40px;
      height: 50px;
    }
  }
}

#board-container{
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  canvas{
    display: block;
    border: 1px solid gainsboro;
    height: 300px;
    width: 300px;
  }
  #player1Board, #player2Board{
    background-color: blanchedalmond;
  }
}

#winner_message_1{
  display: none;
  
  p{
    color: greenyellow;
    font-size: 24px;
    font-family: 'Fugaz One', cursive;
    margin: 0px;
    padding-top: 10px;
  }
}

#winner_message_2{
  display: none;
  p{
    color: greenyellow;
    font-size: 24px;
    font-family: 'Fugaz One', cursive;
    margin: 0px;
    padding-top: 10px;
  }
}

#winner_message_1.show, #winner_message_2.show{
  display: block;
}

.intro{
  display: block;
  border: 1px solid gainsboro;
  width: 50%;
  height: 38%;
  background-image: url('https://raw.githubusercontent.com/kaizhu94/Kai_Zhu_JS_Project/gh_pages/dist/images/modal_background.jpg');
  background-size: 100%;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 700px;
  margin-top: 6px;
  h3{
    margin-bottom: 10px;
    font-size: 20px;
  }
  .intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

    #close-modal{
      position: absolute;
      z-index: 15;
      font-family: none;
      font-size: 30px;
      bottom:300px;
      left: 420px;
    }
    *{
      margin: 10px;
      font-family: 'Aladin', cursive;
      color: rgb(19, 2, 2);
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 18px;
    }
    ol{
      margin: 0px;
      padding-left: 20px;
    }
  }
}

.modal-head-container{
  width: 100%;
  margin: auto;
  .modal-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .modal-head-left{
      width: 30px;
    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    img:hover{
      background-color: rgb(248, 6, 6);
      cursor: pointer;
    }
  }
}

.intro.off{
  display: none;
}

#background_music{
  display: none;
}

#pause{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 350px;
}

#pause:hover{
  cursor: pointer;
}

#question{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 340px;
  right:0px;
}
#question:hover{
  cursor: pointer;
}

#original-meme{
  display: none;
  width: 220px;
  height: 220px;
  border: 1px solid gainsboro;
}

#original-meme.show{
  display: block;
  margin-top:40px;
}

